<footer class="footer">
    <div class="container">
        <span>&copy; 2024 CST336 Final Project</span>
        <p>Jeslyn See, Israel Serrano, Prayash Singh, Elliot Shabram
</p>
    </div>
</footer>