<nav id="navigation">
    <ul>
        <li><a href="/home" class="icon">Home</a></li>
        <li><a href="/about" class="icon">About</a></li>
        <li><a href="/browse" class="icon">Browse</a></li>
        <li><a href="/mylists" class="icon">My Reviews</a></li>
        <li><a href="/logout" class="icon">Logout</a></li>
      <li id="siteName">OnlyFansOfMovies</li>
    </ul>
</nav>
