<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head.ejs")  %>
<body id="aboutPage">
    <%- include("partials/nav.ejs")  %>
   <div id="aboutPageContent">
    <h1>About</h1>
    <p>Welcome to our website!</p>
    <p class="initialText"> To start, simply browse movies <br> Rate them out of 5 stars, add a review, and share <br> Add your favorites to your list with a click of a button <br> View your curated list at "My Reviews" </p>

      <br>
      <br> 
      
    <p> This website was made for the CST 336: Internet Programming Final Project</p>
       </div>
    <%- include("partials/footer.ejs")  %>
</body>
</html>