<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head.ejs")  %>
<body>
    <%- include("partials/nav.ejs")  %>
    <div id="homePage">
    <header>
      <h1>Welcome to OnlyFansOfMovies.com</h1>
      </header>
    <h2 class="initialText"> Rate movies! <br> Create a list of your favorites, <br> and Share!</h2>
      <br>
      <br>
      <a href="/browse" id="startSearching"> Start Searching For Movies </a>
      <br>
      <br>
      </div>
      <footer>
    <%- include("partials/footer.ejs")  %>
      </footer>
</body>
</html>