<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head.ejs")  %>
<body>
    <%- include("partials/nav.ejs")  %>

    <h1>Thank you for your rating!</h1>

    <div id="dogImage"></div>
        <script src="/js/ratingScreen.js"
        <%- include("partials/footer.ejs")  %>
</body>
</html>